*{
    margin: 0;
    padding: 0;
}

.fundo-image{
    background-image: linear-gradient(40deg, black, rgba(84, 75, 75, 0.336), black);
    height: 100%;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.calculos{
    position: absolute;
    background-color: rgba(11, 10, 10, 0.637);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-style: outset;
    border-color: rgba(255, 0, 0, 0.648);
    padding: 15px;
}

#rezutado{
    width: 380px;
    min-height: 35px;
    height: auto;
    margin: 10px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    background-color: rgb(179, 174, 174);
    border-color: rgba(rgb(219, 10, 10), 0.648);
    border-style: inset;
    border-width: 2px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
}
button{
    padding: 10px;
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: rgba(11, 10, 10, 0.637);
    color: #fff;
    border-color: rgba(255, 0, 0, 0.238);    
}
button:hover{
    background-color: rgba(155, 66, 66, 0.229)
}
